services:
  cassandra:
    image: cassandra:latest
    container_name: cassandra-container
    ports:
      - "9042:9042"
    environment:
      - CASSANDRA_USER=admin
      - CASSANDRA_PASSWORD=admin
    volumes:
      - cassandra-data:/var/lib/cassandra

  minio:
    image: minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio-data:/data
    command: server --address ":9000" --console-address ":9001" /data

  KeycloakDB:
    container_name: KeycloakDB
    image: "postgres:17.2"
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "postgres", "-U", "postgres" ]
      timeout: 45s
      interval: 10s
      retries: 10
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: keycloak
      POSTGRES_HOST: postgres
    networks:
      - local
    ports:
      - "5432:5432"

  keycloak:
    container_name: keycloak
    image: keycloak/keycloak:26.4
    depends_on:
      - "KeycloakDB"
    environment:
      #JAVA_TOOL_OPTIONS: -XX:UseSVE=0 #workaround for macOS 15.2
      JAVA_OPTS_APPEND: -Dkeycloak.profile.feature.upload_scripts=enabled
      KC_DB: postgres
      KC_DB_PASSWORD: postgres
      KC_DB_URL: jdbc:postgresql://KeycloakDB:5432/keycloak
      KC_DB_USERNAME: postgres
      KC_HTTP_ENABLED: true
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_HOSTNAME: http://localhost:8180
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
    ports:
      - "8180:8080"
      - "8787:8787" # debug port
    networks:
      - local
    volumes:
      - ./realm.json:/opt/keycloak/data/import/realm.json
    entrypoint:
      - /opt/keycloak/bin/kc.sh
      - start
      - --import-realm

  RoomDB:
    container_name: RoomDB
    image: postgres:17.2
    volumes:
      - room_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: meventure1234
    networks:
      - local
    ports:
      - "32768:5432"

volumes:
  cassandra-data:
    driver: local
  minio-data:
    driver: local
  keycloak_data:
    driver: local
  postgres_data:
    driver: local
  room_data:
    driver: local


networks:
  local:
    name: local
    driver: bridge

